:root {
    --earth-page-bg: #50C1E7;
    --moon-page-bg: #111111;
    --earth-font-color: #0F0F0F;
    --moon-font-color: #F5F5F5;
    color: var(--earth-font-color);
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: var(--earth-page-bg);
}

.container {
    margin: 150px 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.text p {
    margin: auto;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.images img {
    text-align: center;
    width: 300px;
    margin: 0 15px;
}

.images {
    display: flex;
    justify-content: center;

}

a.active {
    width: 300px;
}

