:root {
    --earth-page-bg: #50C1E7;
    --moon-page-bg: #111111;
    --earth-font-color: #0F0F0F;
    --moon-font-color: #F5F5F5;
    color: var(--earth-font-color);
}

html {
    padding: 0;
    margin: 0;
}

#body {
    font-family: "Helvetica", "Arial", sans-serif;
}

#body.earth-bg {
    background-color: var(--earth-page-bg);
}

#body.moon-bg {
    background-color: var(--moon-page-bg);
    color: var(--moon-font-color);
}

.container {
    margin: 150px 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.text p {
    margin: auto;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.images img {
    text-align: center;
    width: 350px;
    max-width: 500px;
    margin: 0 15px;
}

.images {
    display: flex;
    justify-content: center;

}

.earth {
    border: 8px solid rgb(227, 227, 227);
    border-radius: 50%;
}

.moon {
    border: 8px solid rgb(227, 227, 227);
    border-radius: 50%;
}

